* {	margin:0; padding:0; box-sizing:border-box; }
#splash {
	background:url(../images/IMG_3957_5x3.jpg);
	background-size:cover;
	background-repeat:no-repeat;
	padding: 20em 0 0;
	height: 100vh;
}

nav {	
}

a {
	padding: 15px;
}

h1 {
	color: white;
	font-family: "Gill Sans", sans-serif;
	font-size: 32px;
	font-weight: bold;
	text-align: center;
}

h2 {
	font-family: "Gill Sans", sans-serif;
	font-size: 28px;
	font-weight: lighter;
	text-align: center;
}

h3 {
	text-align: left;
}

h4 {
	text-align: left;
}

#about {
	font-family: "Gill Sans", sans-serif;
	font-size: 20px;
	line-height: 1.5em;
	font-weight: lighter;
	text-indent: 0px;
	margin: 20px;
	max-width: 600px;
}

p {
	padding-top: 6px;
}

#processes {
	font-family: "times new roman", georgia, serif;
	font-size: 18px;
	text-indent: 0px;
	margin-left: 20px;
	max-width: 650px;
}

ul {
	text-indent: 0px;
}

#clients {
	font-family: "Gill Sans", sans-serif;
	font-size: 18px;
	line-height: 1.5em;
	font-weight: lighter;
	text-indent:0px;
	padding-top: 20px;
	margin-left: 20px;
}

#awards {
	padding-top: 20px;
	margin-left: 20px;
}

strong {
	font-size: 18px;
	font-variant: bold;
}

#footer {
	text-align: center;
	padding-top: 20px;
}